/* general reset */
* {
  box-sizing: border-box;
}
html,
body,
h1,
h2,
h3,
h4,
ul,
li {
  padding: 0;
  margin: 0;
}

/* base styles */
html {
  font-size: 10px;
}

body {
  background-color: rgb(244, 244, 244);
  color: #333;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

/* wrapper of app component els */
.container {
  /* display: grid;
  grid-template-columns: 1fr; */
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 40px;
}

/* h1 --> title of app component */
.title {
  font-size: 4.7rem;
  text-align: center;
}

.form {
  display: grid;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.button {
  background-color: rgb(0, 0, 0, 0.75);
  color: white;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  border: 1px solid rgb(0, 0, 0, 0.75);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 250ms ease-out, transform 250ms linear;
}

.button:hover {
  background-color: rgb(0, 0, 0, 0.85);
  transform: translateY(10px);
}

/* movie layout styles */
.card {
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.25);
  margin-bottom: 2rem;
  background-color: white;
}

.card-list {
  margin-top: 4rem;
}

.card--title {
  margin-bottom: 0.7rem;
  font-size: 3.7rem;
}

.card--image {
  margin: 0 auto;
}

/* responsiveness handler */
@media (width>786px) {
  .form {
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    align-items: center;
  }
  .input {
    margin-bottom: 0px;
  }
}
